<% if (addItemForm) { %><header data-role="header">
    <div data-role="navbar" class="header-text">
        <% if (navigation === 'listmenu') { %>
        <a data-role="backbutton" data-align="left">Back</a>
        <% } %>
        <span data-role="view-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
        <% if (navigation === 'drawer') { %>
        <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        <% } else if (navigation === 'listmenu') { %>
        <a data-align="right" data-role="button" class="nav-button" href="#/">Index</a>
        <% } %>
        <a data-role="button" data-align="right" data-bind="events: { click: <%= name %>.addClick }">Add</a>
    </div>
</header><% } %>

<% if (typeof endlessScroll !== 'undefined' && endlessScroll) { %><!--  Certain features like grouping and inset styling are not supported when endless scroll is enabled. --><% } %>
<ul data-role="listview" data-style="<% if (typeof endlessScroll === 'undefined' || !endlessScroll) { %>inset<% } %>" data-template="<%= name %>Template" data-bind="{ source: <%= name %>.dataSource, events: {click: <%= name %>.itemClick} }" data-pull-to-refresh="<%= pullToRefresh %>" data-endless-scroll="<%= endlessScroll %>" <% if (typeof endlessScroll !== 'undefined' && endlessScroll && dataProvider === 'none') { %>data-virtual-view-size="50"<% } %> <% if (typeof filterField !== 'undefined' && filterField) { %> data-filterable="{field: '<%= filterField %>', operator: 'contains'}" <% } %>>
</ul>
<!-- START_CUSTOM_CODE_<%= name %> -->
<!-- END_CUSTOM_CODE_<%= name %> -->
